.header {
    padding: 25px 20px 0;
}

.headerHome {
    background: #59b17a;
}

.headerDefault {
    background: #f7f8fa;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.logo {
    display: flex;
    align-self: center;
    justify-content: center;
    gap: 12px;
}


.logoText {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.03em;
    display: flex;
    align-items: center;
}

.logoTextHome {
    color: #fff;
}

.logoTextDefault {
    color: #1d1e21;
}

.nav {
    display: none;
}

.rightSection {
    display: flex;
    align-items: center;
    gap: 9px;
}

.auth {
    display: none;
}

.cartBtn {
    position: relative;
    border-radius: 100%;
    background: #fff;
    stroke-width: 1px;
    border: 1px solid #f1f1f1;
    box-shadow: 0 -1px 7px 0 rgba(71, 71, 71, 0.05);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartIcon {
    stroke: #59b17a;
    fill: none;
}

.badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background: #e7f1ed;
    color: #59b17a;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 12px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userCircle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #e8f5ee;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;
    color: #59b17a;
}

.burger  {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    padding: 0;
}

.burgerIcon {
    width: 32px;
    height: 26px; 
}

.burgerIconLight {
    stroke: #fff;
}

.burgerIconDark {
    stroke: #59b17a;
}

@media (min-width: 768px) {
    .header {
        padding: 28px 32px 0;
    }
}


@media (min-width: 1280px) {
    .header {
        padding: 28px 128px 0;
    }
    
    .burger,
    .menu {
        display: none;
    }
    
    .nav {
        position: relative;
        display: flex;
        align-items: center;
        gap: 4px;
    }
    
    .navLink {
        background: #fff;
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 1;
        color: #93939a;
        border: 7px solid #fff;
        border-radius: 24px;
        padding: 8px 18px;
        position: relative;
        z-index: 2;
        box-shadow: 0 0 0 1px #f1f1f1, 0 1px 2px rgba(0, 0, 0, .06);
    }
    
    .navLinkActive {
        background: #59b17a;
        color: #fff;
    }
    
    .nav::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        height: 15px;
        transform: translateY(-50%);
        background: #fff;
        border: 1px solid #f1f1f1;
        border-radius: 8px;
        z-index: 1;
    }

    .auth {
        display: flex;
        align-items: center;
        gap: 14px;
    }
}