.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(25, 26, 21, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal {
    position: relative;
    width: 100%;
    max-width: 420px;
    border-radius: 20px;
    background: #fff;
    padding: 40px 32px;
}

.closeBtn {
    position: absolute;
    right: 16px;
    top: 16px;
    border: none;
    background: none;
}

.closeIcon {
    height: 20px;
    width: 20px;
    stroke: #1D1E21;
}